.loginbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    border-radius: 30px;
}
.loginbox button{
    width: 100px;
    height: 25px;
    border-radius: 30px;
    background-color: pink;
}
body{
    background-image: url("cdm3.PNG");
    background-size: auto;
}
#usernameInput{
    width: 300px;
    height: auto;
    border-radius: 30px;
    background-color: pink;
}
#passwordInput{
    width: 300px;
    height: auto;
    border-radius: 30px;
    background-color: pink;
}
img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 150px;
    left: 680px
}